<!-- carousel-->
<div id="carousel" class="container">

	<div class="carousel-img">
		<div id="img1">
			<img src="https://s33.postimg.cc/6iop244a7/img1.jpg" alt="casse dal">
		</div>

		<div id="img2">
			<img src="https://s33.postimg.cc/6wq11j8wf/img2.jpg" alt="casse dal">
		</div>

		<div id="img3">
			<img src="https://s33.postimg.cc/pcahz2khr/img3.jpg" alt="casse dal">
		</div>

	</div>

	<div class="carousel-btn">
		<button id="prev">
		</button>
		<button id="next">
		</button>
	</div>
</div>
<hr>
<!-- Banner -->
	<div class="banner" id="mybanner">
		<h1 class="title">Welcome to our page</h1>
		<button class="btn-blue"><a href="#mytabs">Let's casse dall</a></button>
	</div>
	<hr>

<!-- TABS -->
<div class="container">
	<h2 class="title" id="mytabs">TABS</h2>
	<div class="tabs">
	  <button id="tab1" class=" ">Presentation</button>
	  <button id="tab2" class=" ">Menu</button>
	  <button id="tab3" class=" ">Aurte</button>
	</div>

	<div id="presentation" class="tabcontent p">
	  <h3>Presentation</h3>
	  <p>je ne sais pas quoi ecrire</p>
	</div>

	<div id="menu" class="tabcontent m">
	  <h3>Menu</h3>
	  <p>Aujourd'hui y'as pas de menu c'est Ramadan surprise</p> 
	</div>

	<div id="rien" class="tabcontent r">
	  <h3>Autre</h3>
	  <p>Manque d'inspi</p>
	</div>

</div>
